<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="A cryptocurrency trading and exchange site that does it in few moments">
    <meta name="keywords" content="cryptocurrency,bitcoin, bitcoincash, ethereum, altcoin, ripple, change, changeme, exchanges, bitcoinexchanges">
    <meta name="author" content="changeme">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- title-->
    <title>{% block mailtitle %} {{title}} {% endblock mailtitle %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css'%}">
</head>

<body>
    <div class="grid-container fluid mx-hgt">
        <div class="grid-x grid-margin-x">
            {% include "topnavigation.html" %}
        </div>
        <div class="grid-x mx-b-grd">
            <div class="medium-2 large-2 cell mx-vm">
                {% include "verticalnavigation.html" %}
            </div>
            
            <div class="medium-10 large-10 cell">
                {% block reading_pane %}
                
                {% endblock reading_pane %}
            </div>
        </div>
    </div>
    
    <!--include javascript also-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    
    <script type="text/javascript" language="Javascript">
        $(document).foundation();
        var elem = new Foundation.DropdownMenu($(".dropdown"));
        console.log(elem)
    </script>
</body>

