{% extends "mailindex.html" %}

{% block reading_pane %}
    <div class="grid-x mx-gr-p">
        <div class="medium-4 large-4 mx-lp">
            <ul class="vertical menu" id="v-mx-attc">
                {% for mxatt in mxattachments %}
                    <li><a href="/webmail/mx/dwn/attachments/?filename={{mxatt.filename}}&fileid={{mxatt.id}}"><i class="fi-list"></i> <span>{{mxatt.filename}}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="medium-8 large-8 cell mx-lp-dt" style="background-color:green;">
            <p>Details pane</p>
        </div>
    </div>
{% endblock reading_pane %}
