{% load static %}

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-drop-menu>
            <li class="menu-text">Mailboxes</li>
            <li>
                <a href="#">One</a>
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Three</a></li>
        </ul>
    </div>
    
    <div class="top-bar-right">
        <ul class="menu align-right">
            <li><input type="search" placeholder="Search" id="input-mx-search"></li>
            <li><button type="button" class="button">Search</button></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Three</a></li>
        </ul>
    </div>
</div>
