<ul class="vertical menu" id="v-mx-nv">
  <li><a href="/webmail/mx/notifications/"><i class="fi-list"></i> <span>Notifcations</span></a></li>
  <li><a href="/webmail/mx/queue/"><i class="fi-shuffle"></i> <span>Queues</span></a></li>
  <li><a href="/webmail/mx/attachments/"><i class="fi-paperclip"></i> <span>Attachments</span></a></li>
  <li><a href="/webmail/mx/users/"><i class="fi-torsos-all"></i> <span>Users</span></a></li>
  <li><a href="/webmail/mx/approved/"><i class="fi-arrow-right"></i> <span>Approved</span></a></li>
</ul>
