/* Dashboard theming */

html, body{
    width:100%;
    max-width:100%;
    height:100%;
    max-height:100%;
    background-color:#fff;

}

#input-mx-search{

    width:400px;
}

/* Vertical navigation*/
/*
 * background-color: #C7E0F4 !important;
*/
ul#v-mx-attc li a{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

ul#v-mx-nv li a{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

ul#v-mx-nv li a i, ul#v-mx-attc li a i{
    color:#005A9E;
    font-weight:bolder;
}

ul#v-mx-nv li a span, ul#v-mx-attc li a span{
    margin-left: 12px;
}

ul#v-mx-nv li a:hover{
    background-color:#e6e6e6;
}

.mx-vm{
    border-right: 1px solid #ccc;
}

.mx-hgt{
    height:inherit;
}

.mx-b-grd{
    height: inherit;
}

.mx-hgt .top-bar{
    width:100%;
}

.mx-lp, mx-lp-dt{
    height:inherit;
}

.mx-gr-p{
    height:100%;
}
